.profile-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
    padding: 20px;
    height: 100 rem;
}

.profile-header {
    text-align: center;
}

.profile-content {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}

.profile-picture {
    /* margin-right: 50px; */
    justify-content: left;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-details {
    max-width: 400px;
    justify-content: center;
}

.profile-details h3 {
    margin-top: 0;
}

.profile-details p {
    margin-bottom: 10px;
}

.profile-content button {
    justify-content: left;
    margin-left: -50px;
}