@import url("../../../assets/global.css");
.footer {
    background-color: #24262B;
    padding: 70px 0;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-top: 40px; */
}

.footer .container {
    max-width: 1170px;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    margin-bottom: 35px;
    position: relative;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    transition: all 0.3s;
    font-size: 16px;
    text-transform: capitalize;
    /* color: #bbbbbb; */
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}

.footer-col ul li a:hover {
    /* color: #ffffff; */
    padding-left: 4px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s;
}

.footer-col .social-links a:hover {
    background-color: #ffffff;
    color: #24262B;
}

.G-play {
    margin-top: 40px;
}

.G-play img {
    border-radius: 20px;
    width: 130px;
}

.footer-col h1,
.footer-col p {
    color: #bbbbbb;
    margin-left: -100px;
}

.footer-col h1 {
    font-family: "Protest Riot";
    font-weight: lighter;
    color: #FFC84E;
}

.footer-col p {
    margin-top: 50px;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col h1,
    .footer-col p {
        margin-left: 0;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
    .footer-col h1,
    .footer-col p {
        margin-left: 0;
    }
}